body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

h6 {
    color: black;
}

h2 {
    color: #e20026;
}

a {
    color: black;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background: none;
    padding: 0;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
