h6 {
    color: black;
}

body {
    background-color: white;
}

h2 {
    color: #e20026;
}

a {
    color: black;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background: none;
    padding: 0;
}

.body-content{
    display: inline-block;
}
