<div ng-controller="createCtrl">
    <h1>Create a new sample:</h1>
    <br>
    <!-- create -->
        <form>
            <!--        Title-->
            <div class="form-group">
                <label class="control-label" for="focusedInput">Title</label>
                <input type="text" ng-model="post.title" class="form-control">
            </div>
            <!--        Artist -->
            <div class="form-group">
                <label class="control-label" for="focusedInput">Artist</label>
                <input type="text" ng-model="post.artist" class="form-control">
            </div>
            <!--        Content -->
            <div class="form-group">
                <label class="control-label" for="focusedInput">Content</label>
                <input type="video" ng-model="post.content" class="form-control">
            </div>
            <!--        Description -->
            <div class="form-group">
                <label class="control-label" for="focusedInput">Location</label>
                <input type="text" ng-model="post.location" class="form-control">
            </div>
            <!--        URL -->
            <div class="form-group">
                <label class="control-label" for="focusedInput">URL</label>
                <input type="text" ng-model="post.url" class="form-control">
            </div>
            <br>
            <!--        Save -->
            <button ng-click="savePost(post)" class="btn btn-success btn-block">Save</button>
        </form>
    <br>
    <hr>
</div>