 <!-- navigation -->
 
<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" a href="#!/home"><img src='images/logo-b-250x50.png'> </a>
    </div>
</nav>
<nav id="primary_nav_wrap" style="width: 75%; margin: auto">
    <ul>
        <li><a>Music:</a></li>
        <li><a href="#">All</a></li>
        <li><a href="#">Alternative</a></li>
        <li><a href="#">Electronic</a></li>
        <li><a href="#">Hiphop</a></li>
        <li><a href="#">Pop</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="#!/create">Create</a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a ng-href="#!/login" ng-if="!userData.isUserLoggedIn">Log in<i class="fa fa-sign-in fa-fw pull-right"></i></a> </li>
        <li> <a ng-click="logout();" ng-if="userData.isUserLoggedIn">Logout<i class="fa fa-sign-out fa-fw- pull-right"></i></a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-if="userData.isUserLoggedIn">
        <li class="userinfo"><a href="#/">{{username}}<i class="fa fa-user fa-fw"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="#!/register">Register</a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="#!/profile">Profile</a> </li>
    </ul>
</nav>
<input type="text" class="form-control" placeholder="Search" style="width:75%;margin: auto" id="inputSearchSamples" type="search" ng-model="filterSamples" class="form-control shortInputSearch" />
<angucomplete-alt id="samples"
                                      placeholder="Search samples"
                                      pause="200"
                                      selected-object="selectSample"
                                      input-changed="selectionChanged"
                                      remote-url="/api/samples?filter="
                                      remote-url-data-field=""
                                      title-field="Artist,Title"
                                      description-field="Title"
                                      input-class="form-control form-control-small"
                                      match-class="red"
                                      text-searching="Searching Samples.."
                                      text-no-results="No items found matching your filter." />