<div id="addSampleWrapper">
    <hr>
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-8">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-plus"></i>
                Add <strong>{{Sample.Title}}</strong> Sample. Make sure you fill all required fields.
            </div>
            <form class="form-horizontal" role="form" novalidate angular-validator name="addSampleForm" angular-validator-submit="AddSample()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="control-label">Sample title</label>
                            <input class="form-control" name="title" type="text" ng-model="Sample.Title"
                                   validate-on="blur" required required-message="'Sample title is required'">
                        </div>                       
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 selectContainer">
                            <label class="control-label">Genre</label>
                            <select ng-model="Sample.GenreId" class="form-control black" ng-options="option.ID as option.Name for option in genres" required></select>
                            <input type="hidden" name="GenreId" ng-value="Sample.GenreId" />
                        </div>
                    </div>
                </div>

                <!-- producer should be user but for now this will do-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="control-label">Producer</label>
                            <input class="form-control" type="text" ng-model="Sample.Producer" name="producer"
                                   validate-on="blur" required required-message="'Sample producer is required'">
                        </div>
                    </div>
                </div>
                <!--  date published  -->
                <!--<div class="form-group">
                    <div class="row">

                <div class="col-xs-6">
                    <label class="control-label">Publish Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" name="dateReleased" datepicker-popup="{{format}}" ng-model="Sample.PublishDate" is-open="datepicker.opened" datepicker-options="dateOptions" ng-required="true" datepicker-append-to-body="true" close-text="Close"
                               validate-on="blur" required required-message="'Date Released is required'" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                    </div>
                </div>-->
                <!-- url part -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="control-label">Youtube link</label>
                            <input class="form-control" type="text" ng-model="Sample.TrailerURI" name="trailerURI"
                                   validate-on="blur" required required-message="'Sample youtube link is required'" ng-pattern="/^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$/"
                                   invalid-message="'You must enter a valid YouTube URL'">
                        </div>
                    </div>
                </div>
                <!-- Text area -->
                <div class="form-group">
                    <label class="control-label">Text</label>
                    <textarea class="form-control" ng-model="Sample.Text" name="description" rows="3"
                              validate-on="blur" required required-message="'Sample text is required'" />
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label"></label>
                    <div class="row">
                        <input type="submit" class="btn btn-success" value="Submit Sample" />
                        <span></span>
                        <a class="btn btn-default" ng-href="#/Samples/{{Sample.ID}}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>