<div class="row">
    <div class="col-md-10">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5>{{Sample.Title}}</h5>
            </div>
            <div class="panel-body" ng-if="!loadingSample">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">{{Sample.Title}}</h4>                        
                        Mag'er: <label>{{Sample.User}}</label><br />
                        Votes: {{Sample.Upvote}}
                        <br />
                        <p>{{Sample.Text}}</p>
                        <label class="label label-info">{{Sample.Genre}}</label>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix" ng-if="!loadingSample">
                <div class="pull-right">
                    <a ng-href="{{Sample.TrailerURI}}" class="btn btn-primary fancybox-media">View Trailer <i class="fa fa-video-camera pull-right"></i></a>
                    <a ng-href="#/samples/edit/{{Sample.ID}}" class="btn btn-default" ng-show="Sample.User === username">Edit Sample <i class="fa fa-pencil-square pull-right"></i></a>
                </div>
            </div>
            <div ng-if="loadingSample">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Loading Sample data...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
    </div>
</div>
