<div id="editSampleWrapper">
    <hr>
    <div class="row" ng-if="!loadingSample">
        <div class="col-md-8">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-plus"></i>
                Edit <strong>{{Sample.Title}}</strong> Sample. Make sure you fill all required fields.
            </div>
            <form class="form-horizontal" role="form" novalidate angular-validator name="editSampleForm" angular-validator-submit="UpdateSample()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="control-label">Sample title</label>
                            <input class="form-control" name="title" type="text" ng-model="Sample.Title"
                                   validate-on="blur" required required-message="'Sample title is required'">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 selectContainer">
                            <label class="control-label">Genre</label>
                            <select ng-model="Sample.GenreId" class="form-control black" ng-options="option.ID as option.Name for option in genres" required></select>
                            <input type="hidden" name="GenreId" ng-value="Sample.GenreId" />
                        </div>
                    </div>
                </div>

                <!-- producer should be user but for now this will do-->
                <!--<div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="control-label">User</label>
                            <input class="form-control" type="text" ng-model="Sample.User" name="user"
                                   validate-on="blur" required required-message="'Sample user is required'">
                        </div>
                    </div>
                </div>-->

                <!-- url part -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="control-label">Youtube link</label>
                            <input class="form-control" type="text" ng-model="Sample.TrailerURI" name="trailerURI"
                                   validate-on="blur" required required-message="'Sample youtube link is required'" ng-pattern="/^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$/"
                                   invalid-message="'You must enter a valid YouTube URL'">
                        </div>
                    </div>
                </div>
                <!-- Text area -->
                <div class="form-group">
                    <label class="control-label">Text</label>
                    <textarea class="form-control" ng-model="Sample.Text" name="description" rows="3"
                              validate-on="blur" required required-message="'Sample text is required'" />
                </div>
                <div class="form-group col-xs-4">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="Update" />
                        <span></span>
                        <a class="btn btn-default" ng-href="#/Samples/{{Sample.ID}}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>