<style>
    button{
        border:none;
        background:none;
        padding:0;
    }

</style>
    



 <!-- view -->
    
    <div class="sample"  style="width: 70%; margin: 0 auto">
        
        <h6>Your search returned these results:</h6>

        <ul ng-repeat="post in posts | orderBy: 'votes'">
            <li>
                <div class="sampleHeader">
                    <h2><a ng-href="{{post.url}}">{{post.artist}} - {{post.title}}</a></h2>
                    <h6><a>UPVOTES: </a>{{post.votes}}<a> LOCATION: </a>{{post.location}} <a>BY: </a>{{sample.username}}</h6>
                </div>
                
                <embed-video href="{{post.content}}" width="640" height="360" [force-protocol="ANY"] [options]></embed-video>
                
                <div class="user">
                    <button ng-click="addVote(post)"><img ng-src="images/upvote.png"></button>
                    
                    
                </div>
                <br>
            </li>
        </ul>
<br>
 
<!-- 
<div class="extra-pagination inner">
<nav class="pagination" role="pagination">
<a class="newer-posts" href="" title="Previous Page">« Newer Posts</a>
<span class="page-number"> Page </span>
<a class="older-posts" href="" title="Next Page">Older Posts »</a>
</nav>
</div>
-->