<hr />
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-success" id="panelLatestSamples">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Samples Released</h3>
            </div>
            <div class="panel-body">
                <div ng-if="loadingSamples">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading Samples...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="col-xs-12 col-sm-6 Sample" ng-repeat="Sample in latestSamples">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#/samples/{{Sample.ID}}">
                                <strong>{{Sample.Title}} </strong>
                            </a>
                            <label class="label label-success pull-right">{{Sample.User}}</label>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <div><small>{{Sample.Text | limitTo: 70}}...</small></div>
                                    <label class="label label-success">{{Sample.Genre}}</label><br />
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a ng-click="VoteSample(Sample)"><img src="../../../Content/images/samplemag/upvote.png" /></a>
                            <span>Votes: {{Sample.Upvote}}</span>
                            <a class="fancybox-media pull-right text-success" ng-href="{{Sample.TrailerURI}}">Sample<i class="fa fa-video-camera fa-fw"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success" id="panelSampleGenres">
            <div class="panel-heading">
                <h3 class="panel-title">Samples Genres</h3>
            </div>
            <div class="panel-body">
                <div ng-if="loadingGenres">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"><i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading Genres..</label></div>
                    <div class="col-xs-4"></div>
                </div>
                <div id="genres-bar"></div>
            </div>
            <div class="panel-footer">
                <p class="text-center"><em>Wanna add a new Sample? Head over to the add Sample form.</em></p>
                <p class="text-center"><a ng-href="#/samples/add" class="btn btn-success">Add new Sample</a></p>
            </div>
        </div>
    </div>
</div>